@import '../color.scss';

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    background-color: white;
    color: black;

    box-shadow: 0 6px 6px -4px $grey-2;
    
    padding: 0;

    
    a{
        all: unset;
        text-decoration: none;

        cursor: pointer;

        padding: 0.8em;
    }
    a:visited{
        color: unset;
    }
    
    .type{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        a:hover{
            border-bottom: 5px solid $red-1;
            transition: all 0.5s;
        }
        .search{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}