@import '../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 0;

    box-shadow: 0 6px 10px -4px $red-1;
    
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.2em;
    background-color: none;

    a{
        all: unset;
        text-decoration: none;

        cursor: pointer;
        margin: 0.5em 0 0.5em;
        padding: 0.3em 0.8em 0.3em;
    }
    a:visited{
        color: unset;
    }
    
    .type{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        a:hover{
            color: $red-1;
            border-bottom: 5px solid $red-1;
            transition: all 0.5s;
        }
        .search{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
.dropMenu{
    text-align: right;
    margin: 5px;
    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .dropButton{
            margin: 5px;
        }
        a{
            all:unset;
            color: $grey-3;
        }
        a:visited{
            all:unset;
            color: $grey-3;
        }
    }
}