@import '../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h3{
    color: $grey-3;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1em;
}