@import '../color.scss';

.movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 185px;
    background-color: $dark-1;
    
    margin: 0.8em;
    
    .line1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }
    img{
        margin: 0;
        border: 0;
        display: inline-block;
        outline: none;
    }
    
    h5{
        color: $light-1;
        margin-top: 1em;
        margin-bottom: 1em;

        text-align: center;

        width: 100%;
        
    }

    h6{
        margin: 0;
        padding-left: 0.5em;
        margin-top: 3px;
        align-items: left;
        color: $light-1;
    }
    
}