@import '../color.scss';

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(153, 153, 153, 0.5);
  
  .popup_inner {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    //bottom: 20%;
    
    min-height: 30vh;

    border-radius: 15px;
    box-shadow: 0 10px 15px 0 rgba(255, 3, 3, 0.445);
    
    margin: 0;
    padding: 10px;

    background: black;

    @media only screen and (max-width: 1025px) {
        top: 15%;
        min-height: 50vh;
     }
     @media only screen and (max-width: 768px) {
        top: 20%;
        left: 10%;
        right: 10%;
        min-height: 50vh;
     }
     @media only screen and (max-width: 450px) {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
     }

    .closeButton{
        float: right;
        color: $grey-3;
        cursor: pointer;
        @media only screen and (max-width: 450px) {
            float: none;
        }
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media only screen and (max-width: 450px) {
            flex-direction: column;
        }
        padding: 5px;
        color: $grey-3;

        cursor: default;
    
        .box1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 430px;
            margin: 15px;
            
            .poster img{
                height: 350px;
                border-radius: 6px;

            }
            h5{
                text-align: initial;
            }
            .data{
                width: 233px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .budget{
                margin: 0;
            }
        }  
        .box2{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            
            width: 100%;
            
            .info{
                width: 100%;
                .title{
                    justify-content: center;  
                    
                    border-bottom: 5px solid $red-1;
                    width: 100%;
                    padding: 15px 0 15px;
                    
                    font-size: 1.2em;
                }
                .originalTitle{
                    width: 100%;
                    margin: 5px 0 5px;

                    font-style: italic;
                }
                .tagline{
                    margin: 10px 0 5px;
                    font-size: 0.9em;
                    color:$grey-2;
                }
                img{
                    height: 30px;
                }
            }
            
            .description{
                margin: 0.5em 0 0.5em;
                font-weight: bold;
                
            }
            .overview{

                font-size: 0.9em;
                margin: 0;
                text-align: justify;
            }
            @media only screen and (max-width: 450px) {
                .descriptionMovie{
                    display: none;
                }
                .overview{
                    display: none;
                }
            }
            .genres {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                .genre{
                    margin: 5px;
                    font-size: 0.9em;
                }
            }
        }
    }
}}
