@import '../../color.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.home{
    margin: 12% auto 20%;
    color: $grey-3;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    a{
        all: unset;
        margin-bottom: 2em;
        cursor: pointer;
    }
    a:visited{
       color: unset;
    }
    h3{
        margin-top: 6em;
    }
    .latest{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        img{
            width: 185px;
            border-radius: 6px;
        }
        h4{
            font-family: Roboto;
            margin: 0 5px 0;
        }
    }
}