@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.home{
    margin: 20% auto 20%;
    color: white;
    font-family: 'Bangers';
    letter-spacing: 2px;
    font-weight: normal;

}